<p><%= t ".greeting", application_name: Jumpstart.config.application_name %></p>
<p><%= t ".what_made_you_cancel" %></p>
<p><%= t ".feedback", application_name: Jumpstart.config.application_name %></p>
