<div class="<%= container_classes %>" <%= tag.attributes(data_attributes) %>>
  <ol
    data-ui-toast-target="container"
    class="relative flex flex-col-reverse sm:flex-col gap-0 pointer-events-auto [&>li]:pointer-events-auto"
    style="height: 0px;"
  >
  </ol>
</div>
