<% if resource.errors.any? %>
  <div data-turbo-temporary>
    <%= render AlertComponent.new(
      title: I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase),
      variant: :error,
      description: safe_join(resource.errors.full_messages.map { |message| content_tag(:li, message) }, "\n")
    ) %>
  </div>
<% end %>
