<% flash_variants = { notice: :info, success: :success, alert: :error, error: :error } %>
<div id="flash" data-turbo-temporary>
  <% flash_variants.each do |key, variant| %>
    <% if flash[key].is_a?(String) && flash[key].present? %>
      <%= render AlertComponent.new(title: flash[key], variant: variant) %>
    <% end %>
  <% end %>
</div>

<div id="toasts" data-turbo-temporary>
  <% toasts.each do |_, toast| %>
    <%= render ToastComponent.new(toast) %>
  <% end %>
</div>
